# Project exclude paths
/.gradle/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/
/Topics/Comments/What comments are not used in the program/out/
/Topics/Comments/What comments are not used in the program/out/production/classes/
/Topics/Introduction to Java/Theory/build/
/Topics/Introduction to Java/Theory/out/
/Topics/Introduction to Java/Theory/out/production/classes/
/Topics/Printing data/Stars/out/
/Topics/Printing data/Stars/out/production/classes/